.menuContainer {
    display: flex;

}

.menuItem {
    border: solid black 1px;

    height: fit-content;
    padding: 10px;
    width: fit-content;
    margin: 5px;
    font-size: 16px;
    display: inline-block;
}
#cart{
    color: white;
    border-radius: 10px;
    border: solid teal;
    background-color:thistle;
    width:50px;
    margin: 0 auto;
    cursor:pointer;  
}